<!DOCTYPE html>
<html>
<head>
	<title>COVID-19 Snapshots</title>
	<link rel="icon" type="image/png" href="icon.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#911717">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#911717">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#911717">

	<meta property="og:url" content="https://covid19.spicydog.org/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="COVID-19 Data Snapshots" />
	<meta property="og:description" content="See COVID-19 data in snapshot manner" />
	<meta property="og:image" content="https://covid19.spicydog.org/preview.png" />

	<style type="text/css">
		[v-cloak] {
			display: none !important;
		}
		.v-toolbar__content {
			justify-content: center;
			text-align: center;
			font-size: 2em;
		}

		#footer {
			position: static;
			justify-content: center;
			font-size: 0.8em;
			color: #444;
		}

		img.country-flag {
			margin-top: -2px;
			background-image: url("https://moneycounter.app/images/flags/flags-iso/flat/32/_unknown.png");
			overflow: hidden;
			height: 32px;
			width: 32px;
		}
		img.country-flag:before {
			content: " ";
			font-size: 1000px;
		}

		.country-row {
			padding-top: 6px;
		}

		.country-name {
			vertical-align: top;
			padding-left: 4px;
			font-size: 18px;
		}
		
		.country-number {
			vertical-align: top;
			padding-left: 4px;
			font-size: 18px;
		}
		text {
            font-size: 14px;
            font-weight: 900;
        }

	</style>
</head>
<body>
	<div id="app">
		<v-app v-cloak>

			<v-app-bar
				app
				id="header"
				color="red darken-4"
				dark>
				<img src="icon.png" style="height: 100%" />
				COVID-19 Snapshots
			</v-app-bar>

			<v-content v-if="initializing" class="text-center" style="margin-top: 40px">
				Loading..
			</v-content>

			<v-content v-else>

				<v-container>
					<v-card>
						<v-container>
							<v-row justify="space-around">
								<v-col cols="12" class="text-center display-1">
									{{ formatDateTime(currentInformation.timestamp) }}
								</v-col>
							</v-row>

							<v-row justify="space-around">
								<v-col cols="12">
									<v-slider
										v-model="currentStep"
										color="red darken-4"
										min="0"
										:max="lastUpdatedKeys.length-1">
									</v-slider>
								</v-col>
							</v-row>

							<v-row justify="space-around" style="margin-top: -60px">
								<v-col cols="6" class="text-left">
									<div>
										{{ formatDateTime(lastUpdatedKeys[0]) }}
									</div>
								</v-col>

								<v-col cols="6" class="text-right">
									<div>
										{{ formatDateTime(lastUpdatedKeys[lastUpdatedKeys.length-1]) }}
									</div>
								</v-col>
							</v-row>
						</v-container>

						<v-card-title>
							<v-text-field
								v-model="currentFilter"
								append-icon="mdi-magnify"
								label="Filter Countries"
								single-line
								hide-details
								clearable
								:clear-icon-cb="onClearClicked"
							></v-text-field>

						</v-card-title>

						<v-container class="text-center" style="margin-top: -20px">
							<div v-if="currentFilter.length > 0">
								<span style="color:red;font-weight:bolder;">!!</span>
								The data is being filtered by country name
								<span style="color:red;font-weight:bolder;">!!</span>
							</div>
							<div v-else>&nbsp;</div>
						</v-container>

						<v-container style="margin-top: -20px">
						<div>

						<v-chip
							class="ma-1"
							:color="currentFilter === filter ? 'primary' : 'secondary'"
							v-for="filter in saveFilters"
							:key="filter"
							@click="currentFilter = filter"
							close
							@click:close="deleteSaveFilter(filter)">
							{{ filter }}
						</v-chip>

						<v-chip
							class="ma-1"
							color="green"
							text-color="white"
							@click="addSaveFilter(currentFilter)">
							+
						</v-chip>

						</div>
						</v-container>

					</v-card>
				</v-container>

				<v-container>

					<v-row justify="space-around">

						<v-col cols="12" md="6" lg="6" xl="3">
							<v-card
								class="mx-auto"
								color="red accent-4"
								style="padding-top: 20px"
								dark
								outlined>

								<v-list-item two-line>
									<v-list-item-content>
										<v-list-item-subtitle
											class="text-center title">
											Total Confirmed
										</v-list-item-subtitle>
										<v-list-item-title
											class="display-3 mb-1 text-center">
											{{ formatNumber(totalConfirmed) }}
										</v-list-item-title>
										<v-list-item-title
											class=".subtitle-1 mb-1 text-center">
											&nbsp;
										</v-list-item-title>
									</v-list-item-content>
								</v-list-item>

								<v-sheet color="rgba(0, 0, 0, .12)">
									<v-sparkline
										:labels="trendConfirmed.labels"
										:value="trendConfirmed.values"
										color="rgba(255, 255, 255, .7)"
										height="100"
										padding="24"
										stroke-linecap="round"
										smooth
										>
									</v-sparkline>
								</v-sheet>

							</v-card>
						</v-col>

						<v-col cols="12" md="6" lg="6" xl="3">
							<v-card
								class="mx-auto"
								color="purple darken-4"
								style="padding-top: 20px"
								dark
								outlined>

								<v-list-item two-line>
									<v-list-item-content>
										<v-list-item-subtitle
											class="text-center title">
											Current Infected
										</v-list-item-subtitle>
										<v-list-item-title
											class="display-3 mb-1 text-center">
											{{ formatNumber(totalCurrentInfected) }}
										</v-list-item-title>
										<v-list-item-title
											class=".subtitle-1 mb-1 text-center">
											{{ (totalCurrentInfected/totalConfirmed*100).toFixed(2) }}% by confirmed
										</v-list-item-title>
									</v-list-item-content>
								</v-list-item>

								<v-sheet color="rgba(0, 0, 0, .12)">
									<v-sparkline
										:labels="trendCurrentInfected.labels"
										:value="trendCurrentInfected.values"
										color="rgba(255, 255, 255, .7)"
										height="100"
										padding="24"
										stroke-linecap="round"
										smooth
										>
									</v-sparkline>
								</v-sheet>

							</v-card>
						</v-col>

						<v-col cols="12" md="6" lg="6" xl="3">
							<v-card
								class="mx-auto"
								color="green darken-4"
								style="padding-top: 20px"
								dark
								outlined>

								<v-list-item two-line>
									<v-list-item-content>
										<v-list-item-subtitle
											class="text-center title">
											Total Recovered
										</v-list-item-subtitle>
										<v-list-item-title
											class="display-3 mb-1 text-center">
											{{ formatNumber(totalRecovered) }}
										</v-list-item-title>
										<v-list-item-title
											class=".subtitle-1 mb-1 text-center">
											{{ (totalRecovered/totalConfirmed*100).toFixed(2) }}% by confirmed
										</v-list-item-title>
									</v-list-item-content>
								</v-list-item>

								<v-sheet color="rgba(0, 0, 0, .12)">
									<v-sparkline
										:labels="trendRecovered.labels"
										:value="trendRecovered.values"
										color="rgba(255, 255, 255, .7)"
										height="100"
										padding="24"
										stroke-linecap="round"
										smooth
										>
									</v-sparkline>
								</v-sheet>

							</v-card>
						</v-col>

						<v-col cols="12" md="6" lg="6" xl="3">
							<v-card
								class="mx-auto"
								color="grey darken-4"
								style="padding-top: 20px"
								dark
								outlined>

								<v-list-item two-line>
									<v-list-item-content>
										<v-list-item-subtitle
											class="text-center title">
											Total Deaths
										</v-list-item-subtitle>
										<v-list-item-title
											class="display-3 mb-1 text-center">
											{{ formatNumber(totalDeaths) }}
										</v-list-item-title>
										<v-list-item-title
											class=".subtitle-1 mb-1 text-center">
											{{ (totalDeaths/totalConfirmed*100).toFixed(2) }}% by confirmed
										</v-list-item-title>
									</v-list-item-content>
								</v-list-item>

								<v-sheet color="rgba(0, 0, 0, .12)">
									<v-sparkline
										:labels="trendDeaths.labels"
										:value="trendDeaths.values"
										color="rgba(255, 255, 255, .7)"
										height="100"
										padding="24"
										stroke-linecap="round"
										smooth
										>
									</v-sparkline>
								</v-sheet>

							</v-card>
						</v-col>

					</v-row>

				</v-container>

				<v-container>
					<v-card>

						<v-data-table
							:headers="headers"
							:items="filteredData"
							:items-per-page="50"
							class="elevation-1"
							:sort-by="['confirmed']"
							:sort-desc="[true]"
							must-sort
							dense
						>
						<template v-slot:item.name="{ item }">
							<div class="country-row">
								<img class="country-flag"
									:src="'https://moneycounter.app/images/flags/flags-iso/flat/32/' + item.alpha2 + '.png'" />
								<span class="country-name">
									{{ item.name }}
								</span>
							</div>
						</template>
						<template v-slot:item.confirmed="{ item }">
							<span class="country-number">
								{{ formatNumber(item.confirmed) }}
							</span>
						</template>
						<template v-slot:item.recovered="{ item }">
							<span class="country-number">
								{{ formatNumber(item.recovered) }}
							</span>
						</template>
						<template v-slot:item.deaths="{ item }">
							<span class="country-number">
								{{ formatNumber(item.deaths) }}
							</span>
						</template>
						</v-data-table>

					</v-card>
					
				</v-container>

			</v-content>

			<v-footer id="footer" app>
				<a target="_blank" href="https://covid19.workpointnews.com">
					Workpoint News
				</a>
				&nbsp; | &nbsp;
				<a target="_blank" href="https://github.com/CSSEGISandData/COVID-19">
					Johns Hopkins
				</a>
				&nbsp; | &nbsp;
				<a target="_blank" href="https://gitlab.com/spicydog/covid-19-snapshot">
					Source Code
				</a>
				&nbsp; | &nbsp;
				<a target="_blank" href="archive.tar.xz">
					Archive Data
				</a>
			</v-footer>
		</v-app>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data: {
				initializing: true,
				worlds: {},
				csse: {},
				lastUpdatedKeys: [],
				worldFlags: {},
				currentSnapshot: '',
				currentStep: 0,
				currentFilter: '',
				saveFilters: [],
				headers: [
					{
						text: 'Country',
						align: 'start',
						sortable: true,
						value: 'name',
					},
					{
						text: 'Confirmed',
						align: 'end',
						value: 'confirmed',
					},
					{
						text: 'Recovered',
						align: 'end',
						value: 'recovered',
					},
					{
						text: 'Deaths',
						align: 'end',
						value: 'deaths',
					},
				],
			},
			computed: {
				mostRecentUpdatedKey() {
					if (this.lastUpdatedKeys.length > 0) {
						return this.lastUpdatedKeys[this.lastUpdatedKeys.length-1];
					}
					return null;
				},
				currentInformation() {
					return this.getSnapshotData(this.currentSnapshot);
				},
				dateSnapshots() {
					const keys = this.lastUpdatedKeys.sort();
					let dateSnapshots = []
					let data = [];
					for (let key of keys) {
						let date = (new Date(key)).toLocaleDateString();
						dateSnapshots[date] = key;
					}
					return dateSnapshots;
				},
				filteredData() {
					return this.getFilteredData(this.currentSnapshot)
				},
				totalConfirmed() {
					return this.getSumOfKey(this.filteredData, 'confirmed');
				},
				totalCurrentInfected() {
					return this.getSumOfKey(this.filteredData, 'infected');
				},
				totalRecovered() {
					return this.getSumOfKey(this.filteredData, 'recovered');
				},
				totalDeaths() {
					return this.getSumOfKey(this.filteredData, 'deaths');
				},
				trendConfirmed() {
					return this.getTrendData('confirmed');
				},
				trendCurrentInfected() {
					return this.getTrendData('infected');
				},
				trendRecovered() {
					return this.getTrendData('recovered');
				},
				trendDeaths() {
					return this.getTrendData('deaths');
				},
			},
			methods: {
				initData() {
					this.requestWorldData()
					this.requestCsseData()
				},
				requestWorldData() {
					this.requestWorldDataItem('/data/workpointnews/world.json');
				},
				requestWorldDataItem(file) {
					axios.get(file)
					.then((response) => {
						if (response.data) {
							if (response.data.lastUpdated) {
								const lastUpdated = response.data.lastUpdated;
								this.worlds[lastUpdated] = response.data;
								
								this.appendSnapshop(lastUpdated);
							}
						}
						this.initializing = false;
					})
				},
				requestCsseData() {
					this.requestCsseConfirmedData();
					this.requestCsseRecoveredData();
					this.requestCsseDeathsData();
				},
				requestCsseConfirmedData() {
					axios.get('/data/csse/time_series_covid19_confirmed_global.csv')
					.then((response) => {
						if (response.data) {
							this.csse['confirmed'] = this.parseCsseData(response.data);
							this.postProcessCsseData()
						}
					});
				},
				requestCsseRecoveredData() {
					axios.get('/data/csse/time_series_covid19_recovered_global.csv')
					.then((response) => {
						if (response.data) {
							this.csse['recovered'] = this.parseCsseData(response.data);
							this.postProcessCsseData()
						}
					});
				},
				requestCsseDeathsData() {
					axios.get('/data/csse/time_series_covid19_deaths_global.csv')
					.then((response) => {
						if (response.data) {
							this.csse['deaths'] = this.parseCsseData(response.data);
							this.postProcessCsseData();
						}
					});
				},
				parseCsseData(data) {
					const lines = data.split('\n');

					const header = lines.shift();

					const records = lines.map((line) => {
						return line.split(',');
					});

					data = [];
					const headers = header.split(',');
					headers.map((name, index) => {
						if (name.match(/\d{1,2}\/\d{1,2}\/\d{2}/)) {
							const parts = name.split('/');
							const date = parts[1];
							const month = parts[0];
							let year = '';
							if (parts[2].length == 2) {
								year = '20' + parts[2];
							} else {
								year = parts[2];
							}
							const datetime = new Date(year, month-1, date, 0, 0, 0, 0).toISOString();

							let countries = [];
							for (const record of records) {
								const country = record[1];
								if (country) {
									if (countries[country]) {
										countries[country] += parseInt(record[index]) || 0;
									} else {
										countries[country] = parseInt(record[index]) || 0;
									}
								}
							}
							data[datetime] = countries;
						}
					});
					return data
				},
				postProcessCsseData() {
					const countryFixes = {
						'Korea' : 'South Korea',
						'US': 'United States',
					};

					if (Object.keys(this.csse).length === 3) {
						let timestamps = [];
						Object.keys(this.csse).forEach((caseType) => {
							const records = this.csse[caseType];
							Object.keys(records).forEach((timestamp) => {
								if (! timestamps[timestamp]) {
									timestamps[timestamp] = [];
								}
								if (! timestamps[timestamp]['countries']) {
									timestamps[timestamp]['countries'] = [];
								}
								// console.log(Object.keys(records[timestamp]));
								Object.keys(records[timestamp]).forEach((country) => {
									const amount = records[timestamp][country];
									if (! timestamps[timestamp]['countries'][country]) {
										timestamps[timestamp]['countries'][country] = [];
									}
									timestamps[timestamp]['countries'][country][caseType] = amount;
								});
							})
						})

						const output = []
						Object.keys(timestamps).forEach((timestamp) => {

							let totalConfirmed = 0;
							let totalRecovered = 0;
							let totalDeaths = 0;

							const countries = timestamps[timestamp];

							const results = [];
							Object.keys(countries['countries']).forEach((country) => {
								const c = countries['countries'][country];
								let name = country.replace(/[^A-Za-z ]/ig, '');
								name = countryFixes[name] || name;

								totalConfirmed += c['confirmed'] || 0;
								totalRecovered += c['recovered'] || 0;
								totalDeaths += c['deaths'] || 0;

								c['name'] = name;
								results.push(c);
							})

							if (totalConfirmed > 0 && totalRecovered > 0 && totalDeaths > 0) {
								// Check if dataset in complete
								output[timestamp] = results;
								this.appendSnapshop(timestamp);
							}

						})

						this.csse = output;
					}
				},
				appendSnapshop(snapshot) {
					this.lastUpdatedKeys.push(snapshot);
					this.lastUpdatedKeys = [...new Set(this.lastUpdatedKeys)];
					this.lastUpdatedKeys = this.lastUpdatedKeys.sort()

					this.currentSnapshot = this.mostRecentUpdatedKey;
					this.currentStep = this.lastUpdatedKeys.length-1;
				},
				getTrendData(key) {
					let labels = [];
					let values = [];
					for (const [date, snapshot] of Object.entries(this.dateSnapshots)) {
						if (this.csse[snapshot]) {
							const data = this.getFilteredData(snapshot);
							const sum = this.getSumOfKey(data, key);
							if (snapshot == this.currentSnapshot) {
							    // Add label to the current snapshot in the graph
								labels.push('^');
							} else {
								labels.push(' ');
							}
							values.push(sum);
						}
					}
					return {
						'labels': labels,
						'values': values,
					}
				},
				getFilteredData(snapshot) {
					return this.getSnapshotData(snapshot)['countries']
						.filter(item => item.confirmed > 0)
						.filter(item => {
							const country = [item.name, item.alpha2, item.alpha3].join('|').toLowerCase();
							let filter = this.currentFilter.toLowerCase();
							filter = filter.replace(/[^a-z, ]+/gi, '').split('').join('');
							const keywords = filter.split(',');
							for (keyword of keywords) {
								if (country.includes(keyword.trim())) {
									return true;
								}
							}
							return false;
						})
						.map((item) => {
							item.name = item.name
							return item;
						});
				},
				getSnapshotData(key) {
					let result = null;
					if (this.worlds[key]) {
						const countries = this.worlds[key]['statistics'].map((record) => {
							if (record['alpha2'] === 'N/A') {
								record['alpha2'] = '_unknown'
							}
							this.worldFlags[record['name']] = record['alpha2'];
							const confirmed = parseInt(record['confirmed']) || 0;
							const recovered = parseInt(record['recovered']) || 0;
							const deaths = parseInt(record['deaths']) || 0;
							const infected = confirmed - recovered - deaths;
							return {
								'source': 'workpoint',
								'name': record['name'],
								'alpha2': record['alpha2'],
								'confirmed': confirmed,
								'recovered': recovered,
								'deaths': deaths,
								'infected': infected,
							}
						});
						result = {
							'timestamp': this.worlds[key].lastUpdated,
							'countries': countries,
						}
					} else {
						const countries = this.csse[key].map((record) => {
							const confirmed = parseInt(record['confirmed']) || 0;
							const recovered = parseInt(record['recovered']) || 0;
							const deaths = parseInt(record['deaths']) || 0;
							const infected = confirmed - recovered - deaths;
							return {
								'source': 'csse',
								'name': record['name'],
								'alpha2': this.getFlag(record['name']),
								'confirmed': confirmed,
								'recovered': recovered,
								'deaths': deaths,
								'infected': infected,
							}
						});
						result = {
							'timestamp': key,
							'countries': countries,
						}
					}
					return result;
				},
				getSumOfKey(arr, key) {
					return arr.reduce((sum, item) => {
						return sum + parseInt(item[key]);
					}, 0)
				},
				getFlag(countryName) {
					return this.worldFlags[countryName] || '_unknown';
				},
				formatNumber(value) {
					return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
				},
				formatDateTime(value) {
					return new Date(value).toDateString() + ' ' + new Date(value).toLocaleTimeString();
				},
				onClearClicked() {
					this.currentFilter = '';
				},
				deleteSaveFilter(filter) {
					this.saveFilters = this.saveFilters.filter((item) => {
						return item != filter;
					});
					localStorage.setItem("saveFilters", this.saveFilters.join('|'));
				},
				addSaveFilter(filter) {
					let currentFilter = this.currentFilter;
					if (currentFilter == null) {
						currentFilter = '';
					}
					currentFilter = currentFilter.trim()
					this.deleteSaveFilter(currentFilter);
					this.saveFilters.unshift(currentFilter);
					localStorage.setItem("saveFilters", this.saveFilters.join('|'));
					console.log(this.saveFilters);
				},
			},
			watch: {
				currentStep(step) {
					if (this.currentSnapshot != this.lastUpdatedKeys[step]) {
						this.currentSnapshot = this.lastUpdatedKeys[step];
					}
				},
				currentSnapshot(name) {
					const indexOfSnapshot = this.lastUpdatedKeys.indexOf(name);
					if (this.currentStep != indexOfSnapshot) {
						this.currentStep = indexOfSnapshot;
					}
				},
				currentFilter(value) {
					if (this.currentFilter == null) {
						this.currentFilter = '';
					}
					localStorage.setItem("currentFilter", value);
				},
			},
			mounted() {
				this.initData();
				this.currentFilter = localStorage.currentFilter || '';
				this.saveFilters = (localStorage.saveFilters || '').trim().split('|').filter(item => {
					return item.length > 0
				});
				if (this.saveFilters.length == 0) {
					this.saveFilters = ['china', 'united states', 'thailand'];
				}
			},
		})
	</script>
</body>
</html>
